* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 243, 215);
    margin: 0;
}

.banner {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    align-items: center;
    background-color: rgb(51, 51, 51);
    color: white;
    font-size: 1.2em;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 5rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.pesquisa {
    position: relative
}

.pesquisa-artista {
    height: 3rem;
    width: 100%;
    border-radius: 1.5rem;
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
}

.pesquisa-artista:focus {
    outline: none;
}

.sugestoes-artistas {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  font-size: 25px;
  border: 1px solid #ccc;
  color: black;
  background: white;
}

.sugestoes-artistas li {
  padding: 8px;
  cursor: pointer;
  word-wrap: break-word;     
  overflow-wrap: break-word;
  white-space: normal;
}

.sugestoes-artistas li:hover {
  background-color: #eee;
}

.container-jogo {
    display: flex;
    justify-content: center;
    height: calc(100vh - 5rem);
}

.jogo {
    background-color: rgb(31, 31, 31);
    height: 30rem;
    width: 70%;
}

.jogo-titulo {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    height: 4rem;
    font-weight: 400;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(63, 63, 63);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.jogo-funcional {
    height: 100%;
    background-color: red;
    display: flex;
    flex-direction: row;
}

.chutes {
    background-color: rgb(46, 46, 46);
    width: 65%;
    padding: 1rem;
    height: auto;
}

.caixa-chute {
    border: solid 1px rgb(129, 129, 129);
    color: rgb(109, 109, 109);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 2.7rem;
    margin-bottom: 10px;
    padding: 4px;
    padding-left: 6px;
    display: flex;
    align-items: center;
}

.ativa {
    border: solid 1px rgb(204, 204, 204);
    color: rgb(197, 197, 197);
    font-weight: 600;
}

.player {
    background-color: rgb(51, 51, 51);
    width: 35%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.botao-player {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.tempo {
  width: 100%;
  height: 1.2rem;
  background-color: #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 30px;
}

.tempo-barra {
  height: 100%;
  width: 0%;
  background-color: rgb(117, 155, 179);
  transition: width 0.1s linear;
}

.chute-player {
    width: 100%;
    margin-bottom: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}

.chute-player input::placeholder{
    color: rgb(185, 185, 185);
}


.chute-player input{
    background: transparent;
    border: solid 1px rgb(185, 185, 185);
    color: white;
    padding: 0 6px;
    height: 3rem;
    font-size: 1.5rem;
    width: 100%;
}

.chute-player input:focus {
    outline: none;
}

.sugestoes-musicas {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 100%;
  width: 100%;
  z-index: 3;
  font-size: 25px;
  border: 1px solid #6d6d6d;
  color: white;
  background: rgb(39, 39, 39);
}

.sugestoes-musicas li {
  padding: 8px;
  cursor: pointer;
}

.sugestoes-musicas li:hover {
  background-color: rgb(61, 61, 61);
}

.botoes {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.botoes button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    border-radius: 2px;
    cursor: pointer;
}

.btn-pular:hover {
    background-color: rgb(218, 218, 218);
}

.btn-chutar {
    background-color: rgb(117, 155, 179);
    color: white;
}

.btn-chutar:hover {
    background-color: rgb(106, 146, 172);
}

.btn-novo-jogo {
    background-color: rgb(0, 187, 0);
    color: white;
}

.btn-novo-jogo:hover {
    background-color: rgb(0, 156, 0);
}

.info {
    border: 2px solid white;
    padding: 10px;
    height: 8rem;
    display: flex;
    flex-direction: row;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.info-imagem {
    width: auto;
    height: 100%;
    overflow: hidden;
    margin-right: 1rem;
}

.info img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info-desc {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-titulo {
    font-weight: 700;
    font-size: 1.4rem;
    margin: 0;
}

.info-artista {
    font-size: 15px;
    margin:0 0 0.1rem 0;
}

.info-album {
    margin: 0;
}

.escondido {
    display: none;
}

.resultado {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    padding: 1.2rem 2rem;
    height: auto;
    width: auto;
    color: white;
    background-color: #d30101;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 10;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.trigger-animation {
    animation: resultadoAnimation 3s ease-in-out forwards;
}

@keyframes resultadoAnimation {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 600px) {
    .banner {
        padding: 0 5%;
    }

    .jogo {
        width: 90%;
    }

    .jogo-titulo {
        font-size: 1.5rem;
    }
}

@media (max-width: 800px) {
    .jogo-funcional {
        flex-direction: column;
    }

    .chutes, .player {
        width: 100%;
    }

    .player {
        align-items: center;
    }

    .botao-player {
        width: 50%;
    }

    .info {
        height: 8rem;
    }

    .resultado {
        position: fixed;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
    }
}